 *{
    padding: 0;
    margin: 0;
    overflow: hidden; }
  
 .row{
    width: 100%;
    height: 45px;
    border: 1px solid black;
    display: flex;

}
.col,.col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col9 {
    text-align: center;
    color: white;
    font-size:10px;
}
.col10,.col11,.col12,.col13,.col14,.col15,.col16,.col17,.col18 {
    text-align: center;
    color: white;
     font-size:10px;
}
.col19,.col20,.col21,.col22,.col23,.col24,.col25,.col26,.col27,.col28 {
    text-align: center;
    color: white;
     font-size:10px;
}
.col29,.col30,.col31,.col32,.col33,.col34 {
    text-align: center;
    color: white;
     font-size:10px;
}
.col{
    width: 50%;
    height: 100%;
background-color: aqua;
}
.col1{
    width: 50%;
    height: 100%;
background-color: rgb(60, 255, 0);
}
.col2{
    width: 30%;
    height: 100%;
background-color: brown;

}
.col3{
    width: 40%;
    height: 100%;
background-color: rgb(132, 182, 33);

}
.col4{
    width: 30%;
    height: 100%;
background-color: rgb(238, 15, 100);

}
.col5{
    width: 25%;
    height: 100%;
background-color: orangered;

}
.col6{
    width: 25%;
    height: 100%;
background-color: rgb(146, 84, 196);

}
.col7{
    width: 25%;
    height: 100%;
background-color: rgb(218, 134, 24);

}
.col8{
    width: 25%;
    height: 100%;
background-color: brown;

}
.col9{
    width: 20%;
    height: 100%;
background-color: rgb(42, 50, 165);

}
.col10{
    width: 20%;
    height: 100%;
background-color: rgb(195, 245, 120);

}
.col11{
    width: 20%;
    height: 100%;
background-color: rgb(226, 146, 77);

}
.col12{
    width: 20%;
    height: 100%;
background-color: rgb(100, 23, 100);

}
.col13{
    width: 20%;
    height: 100%;
background-color: rgb(223, 186, 93);

}
.col14{
    width: 65%;
    height: 100%;
background-color: rgb(156, 10, 59);

}
.col15{
    width: 35%;
    height: 100%;
background-color: rgb(204, 187, 29);

}
.col16{
    width: 10%;
    height: 100%;
background-color: rgb(136, 121, 126);

}
.col17{
    width: 90%;
    height: 100%;
background-color: rgb(105, 173, 133);

}
.col18{
    width: 100%;
    height: 100%;
background-color: rgb(253, 156, 188);

}
.col19{
    width: 10%;
    height: 100%;
background-color: rgb(94, 72, 155);

}
.col20{
    width: 10%;
    height: 100%;
background-color: rgb(31, 95, 56);

}
.col21{
    width: 10%;
    height: 100%;
background-color: rgb(34, 3, 13);

}
.col22{
    width: 10%;
    height: 100%;
background-color: rgb(196, 30, 30);

}
.col23{
    width: 10%;
    height: 100%;
background-color: rgb(253, 156, 188);

}
.col24{
    width: 10%;
    height: 100%;
background-color: rgb(90, 40, 57);

}
.col25{
    width: 10%;
    height: 100%;
background-color: rgb(24, 148, 61);

}
.col26{
    width: 10%;
    height: 100%;
background-color: rgb(253, 156, 188);

}
.col27{
    width: 10%;
    height: 100%;
background-color: rgb(56, 40, 46);

}
.col28{
    width: 10%;
    height: 100%;
background-color: rgb(168, 63, 98);

}
.col29{
    width: 60%;
    height: 100%;
background-color: rgb(109, 94, 238);

}
.col30{
    width: 40%;
    height: 100%;
background-color: rgb(22, 2, 9);

}
.col31{
    width: 35%;
    height: 100%;
background-color: rgb(59, 177, 49);

}
.col32{
    width: 35%;
    height: 100%;
background-color: rgb(238, 15, 89);

}
.col33{
    width: 20%;
    height: 100%;
background-color: rgb(168, 63, 98);

}
.col34{
    width: 10%;
    height: 100%;
background-color: rgb(181, 199, 21);

}






